-extends "layout.html" 

-block custom_external
  %script
    $(function() {
      $("form input").click(function () {
          $("form .alert-error").hide()
      });
    });
  
  %style type="text/css"
    h4 + .alert {
        margin: 1em 0em 0em 0em; 
    } 

-block body
  .container
    %form.alert.alert-info.form-horizontal.form-signin action="{{ url_for("auth.login") }}" method="POST"
      %h4 << 请登陆:
      -if error
        .alert.alert-error << {{ error }}

      %input#username.input-block-level.input-medium type=text name="username" required="rquired" placeholder="用户名"
      %input#password.input-block-level.input-medium type="password" name="password" required="true" placeholder="密码"
      %hr
      %input.btn.btn-success#submit type="submit" value="登陆" name="submit"

      -if next_url
        %input type="hidden" name="next_url" value="{{ next_url }}"

