{% extends "layout.html" %}
{% block custom_external %}
    <script type="text/javascript">
        $(function () {
            setTimeout(function () {
                $(".flash").fadeOut("slow")
            }, 3000);
            $("#view-product-dialog").dialog({
                autoOpen:false,
                modal: true
            });
            {% if permissions.AccountantPermission.can() or consignment.MSSQL_ID %}
                $("input").attr("disabled", true);
                $("select").attr("disabled", true);
            {% endif %}
            $("td a[name='consignment-product']").click(function () {
                var id = $(this).attr("id");
                var url = "/delivery/ajax/consignment-product?id=" + id;
                {% if request.args.get("url") %}
                    url += "&url={{ request.args.get('url') }}";
                {% endif %}
                $.get(url).success(function (data) {
                    $("#view-product-dialog").empty();
                    $("#view-product-dialog").append(data);
                    $("#view-product-dialog").dialog("open");
                }).error(function (data) {
                            alert(data.responseText)
                        });
            });
        });
    </script>
{% endblock %}
{% block body %}
    <div class="ym-wrapper">
        <div class="ym-wbox">
            {% with messages = get_flashed_messages(with_categories=True) %}
                {% if messages %}
                    {% for category, m in messages %}
                        {% if category == 'error' %}
                            <div class="error box flash">{{ m }}</div>
                        {% elif category == 'success' %}
                            <div class="success box flash">{{ m }}</div>
                        {% else %}
                            <div class="success box flash">{{ m }}</div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <form class="ym-form linearize-form ym-columnar"
                  action="{{ url_for("delivery.consignment", id_=consignment.id) }}"
                  method="POST">
                <div class="ym-fbox-text">
                    <label for="consignment_id">发货单号</label>
                    <input type="text" disabled="disabled"
                           value="{{ consignment.consignment_id }}"
                           id="consignment_id">
                </div>
                <div class="ym-fbox-text">
                    <label for="customer">公司名称</label>
                    <input type="text" disabled="disabled" id="customer"
                           value="{{ consignment.customer }}">
                </div>
                <div class="ym-fbox-text">
                    <label for="plate">车辆车牌号</label>
                    <input type="text" id="plate"
                           value="{{ consignment.plate }}" disabled="disabled">
                </div>
                <div class="ym-fbox-text">
                    <label for="date">日期</label>
                    <input type="text" id="date"
                           value="{{ consignment.create_time.date() }}"
                           disabled="disabled">
                </div>
                <div class="ym-fbox-select">
                    <label for="pay_mode">支付方式</label>
                    <select name="pay_in_cash" id="pay_mode">
                        <option value="0">月结</option>
                        <option value="1"{% if consignment.pay_in_cash %}
                                selected="selected"
                        {% endif %} >现金支付
                        </option>
                    </select>
                </div>

                <div class="ym-fbox-text">
                    <label for="notes">备注</label>
                    <input type="text" name="notes" id="notes"
                           value="{{ consignment.notes or "" }}"
                           maxlength="255">
                </div>
                <table class="bordertable">
                    <thead>
                    <tr>
                        <th>产品名称</th>
                        {% if not consignment.measured_by_weight %}
                            <th>型号-规格</th>
                            <th>数量</th>
                            <th>单位</th>
                        {% endif %}
                        <th>净重(KG)</th>
                        <th>退镀重量(KG)</th>
                        <th>生产班组</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for current in consignment.product_list %}
                        <tr>
                            <td>{{ current.delivery_task.product.name }}--><a href="#{{ current.id }}"
                                   name="consignment-product" title="点击修改该产品信息"
                                   id="{{ current.id }}">{{ current.product.name }}</a>
                            </td>
                            {% if not consignment.measured_by_weight %}
                                <td>{{ current.delivery_task.spec_type_list|join("<br>")|safe }}
                                    -->
                                    ({{ current.spec }}-{{ current.type }})
                                </td>
                                <td>{{ current.delivery_task.quantity }}-->({{ current.quantity }})
                                </td>
                                <td>{{ current.delivery_task.unit }}-->({{ current.unit }})</td>
                            {% endif %}
                            <td>{{ current.delivery_task.weight }}-->({{ current.weight }})</td>
                            <td>{{ current.delivery_task.returned_weight }}-->({{ current.returned_weight }})
                            </td>
                            <td>{{ current.delivery_task.team_list|join(" ",attribute="name")|safe }}-->({{ current.team.name }})
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <div class="ym-fbox-text">
                    <label>总净量(KG)</label>
                    <span>{{ consignment.product_list|sum("weight") }}</span>
                </div>
                <div class="ym-fbox-text">
                    <label>总退镀重量(KG)</label>
                    <span>{{ consignment.product_list|sum("returned_weight") }}</span>
                </div>
                <div class="ym-fbox-button center">
                    {% if (not consignment.MSSQL_ID and permissions.CargoClerkPermission.can()) or (permissions.AccountantPermission.can() and not consignment.is_paid) %}
                        <button class="ym-button ym-save">{{ "已支付" if permissions.AccountantPermission.can() else "提交" }}</button>
                    {% endif %}
                    <a href="{{ url_for("delivery.consignment_preview", id_=consignment.id, url=request.url) }}"
                       class="ym-button ym-next">预览</a>
                    <input type="hidden" name="url"
                           value="{{ request.args.get("url") }}">
                    <a href="{{ request.args.get("url") or url_for("delivery.session_list") }}"
                       class="ym-button ym-delete">返回</a>
                </div>
            </form>
        </div>
    </div>
    <div id="view-product-dialog" title="{{ _("修改产品详情") }}">

    </div>
{% endblock %}