{% if field_value %}
  {% set need_weight = field_value|rejectattr("weight")|list|length > 0 %}

  <table class="table table-bordered table-condensed">
    <thead>
    <tr>
      {% if need_weight %}
        <th></th>
      {% endif %}
      <th>任务ID</th>
      <th>装卸工</th>
      <th>产品名称</th>
      <th>对应的仓单</th>
      <th>重量(公斤)</th>
      <th>规格-型号</th>
      <th>图片</th>
    </tr>
    </thead>
    <tbody>
    {% for row in field_value %}
      <tr>
        {% if need_weight %}
          <td>
            {% if not row.weight %}
              <a class="del-ut" href="#" data-pk={{ row.id }}><i class="fa fa-times text-danger"></i></a>
            {% endif %}
          </td>{% endif %}
        <td>
          {% if row.weight %}
            <a href={{ url_for("delivery.delivery_task", id_=row.id, url=request.url) }}>{{ row.id }}</a>
          {% else %}
            {{ row.id }}
          {% endif %}
        </td>
        <td>{{ row.actor.username }}</td>
        <td>{{ row.product }}</td>
        <td>
          <ul class="nav nav-pills">
            {% for sb in row.store_bill_list %}
              <li>
                <a href="{{ url_for('store_bill.store_bill', id_=sb.id, url=request.url) }}">{{ sb.id }}</a>
              </li>
            {% endfor %}
          </ul>
        </td>
        <td>
          {% if row.weight %}
            {{ row.weight }}
          {% else %}
            <a href="{{ url_for("delivery.weigh_delivery_task", id_=row.id, url=request.url) }}" class="btn btn-primary">
              称重
            </a>
          {% endif %}
        </td>
        <td>{{ row.spec_type_list|join("<br>")|safe }}</td>
        <td>
          {% if row.pic_url_list %}
            {% for id, pic_url in row.pic_url_list if pic_url %}
              <a class="fancybox thumbnail" href="{{ pic_url }}" rel="group" title="{{ id }} - {{ row.product.name }}">
                <img class="img-responsive img-polaroid" src="{{ pic_url }}" alt="{{ id }} - {{ row.product.name }}"/>
              </a>
            {% endfor %}
          {% endif %}
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
  <script type="text/javascript">
    $(function () {
      $("a.del-ut").click(function () {
        if (confirm("您确认要删除发货任务" + $(this).attr("data-pk") + "?")) {
          $.post("/delivery/ajax/delivery-task/" + $(this).attr("data-pk"), {"action": "delete"}).success(
              function () {
                window.location.reload(false);
              });
        }
      }).error(function () {
            alert("删除失败");
          });
    });
  </script>
{% else %}
  <span class="text-danger">无</span>
{% endif %}