{% extends "layout.html" %}
{% block custom_external %}
  <script type="text/javascript">
    $(function () {
      $("input:checkbox[name='check_all']").click(function () {
        val = 'table' + $(this).val().match(/\d+/);
        $("#" + val + " input:checkbox[name='store_bill_id']").attr("checked", this.checked);
      });
      $("#select").click(function () {
        if ($("input:checkbox[name='store_bill_id']:checked").val() == undefined) {
          alert("请选择仓单");
          return false;
        } else {
          return true;
        }
      });
      $(".collapse").each(function () {
        $(this).collapse({toggle: false});
      });
      $("#customer").change(function () {
        $(".collapse").each(
            function () {
              $(this).collapse("hide");
            }
        );
        if ($(this).val != 0) {
          $("#customer" + $(this).val()).collapse("show");
        }
      });
    })
  </script>
{% endblock %}

{% block body %}
  <div class="container">
    <legend>仓单列表</legend>
    {% if not customer_list %}
      <p class="text-error">当前无可发货的仓单</p>
      <a class="btn btn-large" href="{{ request.args.get("url") or url_for('delivery.session_list') }}">
        返回
      </a>
    {% else %}
      <div class="form-inline">
        <label class="padding" for="customer">客户</label>
        <select name="customer" id="customer">
          <option value="0">所有</option>
          {% for customer in customer_list %}
            <option value="{{ customer.id }}">{{ customer.name }}</option>
          {% endfor %}
        </select>
      </div>

      <form class="form-horizontal" method="POST"
          {% if delivery_session_id %}
            action="{{ url_for('delivery.store_bill_add', delivery_session_id=delivery_session_id) }}"
          {% else %}
            action="{{ url_for('delivery.store_bill_add') }}"
          {% endif %} >
        <div id="accordion-div" class="accordion">
          {% for customer in customer_list %}
            <div class="accordion-group">
              <div class="accordion-heading">
                <a class="accordion-toggle" href="#customer{{ customer.id }}" data-toggle="collapse" data-parent="#accordion-div">
                  {{ customer.name }}
                </a>
              </div>
              <div class="accordion-body collapse" id="customer{{ customer.id }}">
                <div class="accordion-inner">
                  <table class="table table-striped table-bordered table-condensed" id="table{{ customer.id }}">
                    <thead>
                    <tr>
                      <th>
                        <input type="checkbox" name="check_all" value="check_box{{ customer.id }}"/>
                      </th>
                      <th>仓单号</th>
                      <th>对应的订单编号</th>
                      <th>对应的收货单号</th>
                      <th>存放点</th>
                      <th>产品名称</th>
                      <th>大约净重(KG)</th>
                      <th>数量</th>
                      <th>图片</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for store_bill in customer.bill_list %}
                      <tr {% if not store_bill.printed %}
                        class="warning" title="未打印">
                        <td></td>
                      {% else %}
                        >
                        <td>
                          <div class="ym-fbox-check">
                            <input type="checkbox"
                                   value="{{ store_bill.id }}"
                                   name="store_bill_id"/>
                          </div>
                        </td>
                      {% endif %}
                      <td>{{ store_bill.id }}</td>
                      <td>{{ store_bill.sub_order.order.customer_order_number }}</td>
                      <td>
                        {{ store_bill.sub_order.order.goods_receipt.receipt_id }}</td>
                      <td>{{ store_bill.harbor.name if store_bill.harbor or "" }}</td>
                      <td>{{ store_bill.product_name }}</td>
                      <td>{{ store_bill.weight }}</td>
                      <td>
                        {{ store_bill.quantity }}(
                        {{ store_bill.unit }})
                      </td>
                      <td>{% if store_bill.pic_url %}
                        <a href="{{ store_bill.pic_url }}"
                           class="fancybox" rel="group"
                           title="{{ store_bill.product_name }}">
                          <img src="{{ store_bill.pic_url }}"
                               class="bordered"
                               alt="{{ store_bill.product_name }}"/>
                        </a>{% endif %}</td>
                      </tr>
                    {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          {% endfor %}

        </div>
        <div class="control-group">
          <div class="controls">
            {% if delivery_session_id %}
              <input type="hidden" name="url" value="{{ request.args.get("url") }}">
              <button class="btn btn-large btn-primary" id="select">添加
              </button>
              <a class="btn btn-large"
                 href="{{ request.args.get("url") or url_for('delivery.delivery_session', id_=delivery_session_id) }}">返回
              </a>
            {% else %}
              <button class="btn btn-large btn-primary" id="select">
                生成发货会话
              </button>
              <a class="btn btn-large" href="{{ request.args.get("url") or url_for('delivery.session_list') }}">
                返回
              </a>
            {% endif %}
          </div>
        </div>
      </form>
      </div>
    {% endif %}
{% endblock %}
