{% extends "__data_browser__/form.html" %}

{% block body %}
  <div class="row">
    <div class="col-lg-2">
      <div class="well well-sm">
        <ul class="nav nav-pills nav-stacked">
          {% for group in sub_nav_bar.groups %}
            <li class="muted"><h5>{{ group.name }}</h5></li>
            {% for nav_link in group.nav_links %}
              {% if nav_link.enabler() %}
                <li class="text-center active">
                  <a href="{{ nav_link.url }}"><strong>{{ nav_link.anchor }}</strong></a>
                </li>
              {% else %}
                <li class="text-center">
                  <a href="{{ nav_link.url }}">{{ nav_link.anchor }}</a>
                </li>
              {% endif %}
            {% endfor %}
          {% endfor %}
        </ul>
      </div>
    </div>
    <div class="col-lg-10">
      {{ super() }}
    </div>
  </div>
{% endblock %}
