{% extends "layout.html" %}
{% block custom_external %}
    <script type="text/javascript">
        $(function () {
            function makeRed(select, value) {
                select.each(function (i) {
                    if ($.trim($(this).text()) == value) {
                        $(this).css("color", "red")
                    }
                });
            }

            makeRed($(".td-urgent"), "是");
            makeRed($(".td-returned"), "是");
            makeRed($(".td-remaining-weight"), "0");
            makeRed($(".td-todo-cnt"), "0");
            $("#pre-schedule-dialog").dialog({
                autoOpen:false,
                modal:true
            });
            $("td a").click(function () {
                var sub_order_id = $(this).attr("name");
                var title = $(this).text();
                $.get("/schedule/ajax/sub-order/" + sub_order_id).success(function (data) {
                    $("#pre-schedule-dialog").dialog("option", "title", title);
                    $("#pre-schedule-dialog").empty();
                    $("#pre-schedule-dialog").append(data);
                    $("#pre-schedule-dialog").dialog("open");
                }).error(function (data) {
                            alert(data.responseText)
                        });
            });
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    $("#ym-message-dialog").show();
                    $("#ym-message-dialog p").removeClass();
                    $("#ym-message-dialog p").addClass("box success");
                    {% for message in messages %}
                        $("#ym-message-dialog p").text("{{ message }}");
                    {% endfor %}
                    setTimeout(function () {
                        $("#ym-message-dialog").fadeOut("slow")
                    }, 2000);
                {% else %}
                    $("#ym-message-dialog").hide();
                {% endif %}
            {% endwith %}

            $("input[name='check_all']").click(function () {
                $("input[name='work_command_id']").attr("checked", this.checked)
            });
            $("#schedule-button").click(function () {
                var id = $("input[name='work_command_id']:checked").val();
                if (jQuery.type(id) == "undefined") {
                    alert("请选择记录");
                    return false;
                } else {
                    $(this).attr("disable", true);
                    $("#work_command_form").submit();
                }
            });
            $("button").hide();
            $("input[type=checkbox]").click(function () {
                if ($("input[name='work_command_id']:checked").val() == undefined) {
                    $("button").hide();
                } else {
                    $("button").show();
                }
            });
        });
    </script>
{% endblock %}
{% block body %}
    <div class="ym-wrapper">
        <div class="ym-wbox">
            <div class="ym-fbox-text center" id="ym-message-dialog"
                 role="alert" aria-live="assertive">
                <p></p>
            </div>
            <div id="order_info" class="ym-form linearize-form ym-columnar">
                <div class="ym-fbox-text">
                    <label>
                        <b>订单编号</b></label> 
                    <span>
                    {{ order.customer_order_number }}
                    </span>
                </div>
                <div class="ym-fbox-text">
                    <label><b>客户名称</b></label>
                    <span>
                    {{ order.customer.name }}
                    </span>
                </div>
                <div class="ym-fbox-text">
                    <label><b>创建时间</b></label>
                    <span>
                    {{ order.create_time }}
                    </span>
                </div>
                <div class="ym-fbox-text">
                    <label><b>总重量(KG)</b></label>
                    <span>
                    {{ order.net_weight }}
                    </span>
                </div>
                <div class="ym-fbox-text">
                    <label><b>未预排产重量(KG)</b></label>
                    <span>
                    {{ order.remaining_weight }}
                    </span>
                </div>
                <div class="ym-fbox-text">
                    <label><b>待排产工单数</b></label>
                    <span>
                    {{ order.todo_work_cnt }}
                    </span>
                </div>
                <div class="ym-fbox-text">
                    <label><b>是否加急</b></label>
                    <span>
                    {% if order.urgent %}是{% else %}
                    否{% endif %}
                    </span>
                </div>
                <div>
                    <a class="ym-button" name="{{ order.id }}"
                       href="{{ url_for('manufacture.work_command_list', order_id=order.id) }}">查看工单</a>
                </div>
                <table id="sub_order_table" class="bordertable">
                    <thead>
                    <tr>
                        <th>子订单号</th>
                        <th>产品名称</th>
                        <th>是否加急</th>
                        <th>交货时间</th>
                        <th>总重量(KG)</th>
                    {% if not order.measured_by_weight %}
                        <th>数量</th>
                        <th>数量单位</th>
                        <th>规格-型号</th>
                    {% endif %}
                        <th>是否退货</th>
                        <th>待排产工单数</th>
                        <th>待预排产数量</th>
                        <th>技术要求</th>
                        <th>卸货点</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for sub_order in order.sub_order_list if sub_order.due_time %}
                        <tr>
                            <td>{{ sub_order.id }}</td>
                            <td>{{ sub_order.product.name }}</td>
                            <td class="td-urgent">
                                {% if sub_order.urgent %}是{% else %}
                                    否{% endif %}
                            </td>
                            <td>{% if sub_order.due_time %}
                                {{ sub_order.due_time.date() }}{% else %}
                                ----{% endif %}</td>
                            <td>{{ sub_order.weight }}</td>
                            {% if not order.measured_by_weight %}
                                <td>{{ sub_order.quantity }}</td>
                                <td>{{ sub_order.unit }}</td>
                                <td>{{ (sub_order.spec, sub_order.type)|join("-") }}</td>
                            {% endif %}
                            <td class="td-returned">
                            {{ "是" if sub_order.returned else "否"}}
                            </td>
                            <td class="td-todo-cnt">
                                {{ sub_order.pre_work_command_list|length }}</td>
                            <td class="td-remaining-weight">{{ sub_order.remaining_quantity }}({{ sub_order.unit }})</td>
                            <td>{{ sub_order.tech_req }}</td>
                            <td>{{ sub_order.harbor.name }}</td>
                            <td>
                                {% if sub_order.remaining_quantity|int > 0 and order.refined and order.dispatched %}
                                    <a class="ym-button"
                                       name="{{ sub_order.id }}"
                                       href="#{{ sub_order.id }}">
                                        {% if sub_order.returned %}
                                            质检检货{% else %}
                                            预排产{% endif %}</a>
                                {% elif not order.refined or not order.dispatched %}
                                    <em>未下发</em>
                                {% else %}
                                    ---
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <label><b>待排产工单列表</b></label>

                <form method="GET" id="work_command_form" action="{{ url_for('manufacture.schedule') }}">
                    <table class="bordertable">
                        <thead>
                        <tr>
                            <th>
                                <div class="ym-fbox-check">
                                    <input type="checkbox" name="check_all">
                                </div>
                            </th>
                            <th>产品名称</th>
                            <th>预排产重量（KG）</th>
                        {% if not order.measured_by_weight %}
                            <th>预排产的数量</th>
                        {% endif %}
                            <th>工序</th>
                            <th>上道工序</th>
                            <th>交货日期</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for sub_order in order.sub_order_list if sub_order.due_time %}
                            {% for wc in sub_order.pre_work_command_list %}
                            <tr>
                                <td>
                                    <div class="ym-fbox-check">
                                        <input type="checkbox" name="work_command_id" value="{{ wc.id }}">
                                    </div>
                                </td>
                                <td>{{ sub_order.product.name }}</td>
                                <td>{{ wc.org_weight }}</td>
                            {% if not order.measured_by_weight %}
                                <td>{{ wc.org_cnt }}</td>
                            {% endif %}
                                <td>{{ wc.procedure.name }}</td>
                                <td>{% if wc.previous_procedure %}{{ wc.previous_procedure.name }}{% endif %}</td>
                                <td>{{ sub_order.due_time.date() }}</td>
                            </tr>
                            {% endfor %}
                        {% endfor %}
                        </tbody>
                    </table>
                    <button class="ym-button ym-next" id="schedule-button" type="button">
                        排产
                    </button>
                    <input type="hidden" name="purl" value="{{ request.url }}">
                </form>
                <a class="ym-button ym-delete"
                   href="{{ request.args.get("backref") or url_for('schedule.order_list') }}">返回</a>
            </div>
        </div>
    </div>
    <div id="pre-schedule-dialog"></div>
{% endblock %}
