{% extends "layout.html" %}
{% block custom_external %}
  <script type="text/javascript">
  $(function(){
      $("#customer").change(function(){
          $(this).parents("form").submit();
      })
  })
  </script>
{% endblock %}
{% block body %}
  <div class="container">
    <form class="form-inline" action="{{ url_for('schedule.order_list') }}" method="GET">
      <div>
        <label for="customer" class="padding">客户名称</label>
        <select name="customer_id" id="customer">
          <option value="0">所有</option>
          {% for c in customer_list %}
            <option value="{{ c.id }}" {% if c.id == request.args.get("customer_id")|int %}selected="selected"{% endif %} >{{ c.name }}</option>
          {% endfor %}
        </select>
      </div>
    </form>
    <legend>订单列表</legend>
    <table id="order_list_table" class="table table-striped table-bordered table-condensed">
      <thead>
      <tr>
        <th>订单编号</th>
        <th>公司名称</th>
        <th>产生日期</th>
        <th>总重(KG)</th>
        <th>未预排产重量(KG)</th>
        <th>待排产重量(KG)</th>
        <th>生产中重量(KG)</th>
        <th>是否加急</th>
      </tr>
      </thead>
      <tbody>
      {% for order in order_list %}
        <tr>
          <td>
            <a href="{{ url_for('schedule.order', id_=order.id, url=request.url) }}">{{ order.customer_order_number }}</a>
          </td>
          <td>{{ order.customer.name }}</td>
          <td>{{ order.create_time }}</td>
          <td>{{ order.net_weight }}</td>
          <td {% if not order.remaining_weight %}class="text-error"{% endif %}>{{ order.remaining_weight }}</td>
          <td>{% if order.to_work_weight == 0 %}
            {{ order.to_work_weight }}
          {% else %}
            <a name="todo" href="{{ url_for('schedule.work_command_list', id=order.id, status="todo", url=request.url) }}">{{ order.to_work_weight }}</a>
          {% endif %} </td>
          <td>{% if order.manufacturing_weight == 0 %}
            {{ order.manufacturing_weight }}
          {% else %}
            <a name="doing" href="{{ url_for('schedule.work_command_list', id=order.id, status="doing", url=request.url) }}">{{ order.manufacturing_weight }}</a>
          {% endif %} </td>
          {% if order.urgent %}
            <td class="text-error">是</td>
          {% else %}
            <td>否</td>
          {% endif %}
        </tr>
      {% endfor %}
      </tbody>
    </table>
    {% from "pagination.html" import render_pagination %}
    {{ render_pagination(pagination) }}
  </div>
{% endblock %}
