{% extends "layout.html" %}
{% block custom_external %}
    <script type="text/javascript">
        $(function () {
            $("#refine-button").click(function () {
                if (confirm("确认已经完善订单？")) {
                    $("#refine-form").submit();
                }
            });
            $("img").height("120px");
            $(".fancybox").fancybox();
            {% if order.dispatched %}
                $("#customer_order_number").attr("readonly", "readonly");
            {% endif %}
            $("#customer_order_number").change(function () {
                if (confirm("确认修改？")) {
                    $.post("/order/ajax/order-modify", {order_id:{{order.id}}, customer_order_number:$(this).val()}).success(function (data) {
                        alert(data);
                    }).error(function (data) {
                                alert(data.responseText);
                                $("#customer_order_number").val('{{ order.customer_order_number }}');
                            });
                } else {
                    $("#customer_order_number").val('{{ order.customer_order_number }}');
                }
            });
            $("#view-sub-order-dialog").dialog({
                autoOpen:false,
                wight:350,
                modal: true
            });
            $("td a[name='sub-order']").click(function () {
                var sub_order_id = $(this).text();
                var url = "/order/ajax/sub-order?id=" + sub_order_id ;
                {% if request.args.get("purl") %}
                  url += "&purl={{ request.args.get('purl') }}";
                {% endif %}
                $.get(url).success(function (data) {
                    $("#view-sub-order-dialog").empty();
                    $("#view-sub-order-dialog").append(data);
                    $("#view-sub-order-dialog").dialog("open");
                }).error(function (data) {
                            alert(data.responseText)
                        });
            });
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    $("#ym-message-dialog").show();
                    $("#ym-message-dialog p").removeClass();
                    $("#ym-message-dialog p").addClass("box success");
                    {% for message in messages %}
                        $("#ym-message-dialog p").text("{{ message }}");
                    {% endfor %}
                    setTimeout(function () {
                        $("#ym-message-dialog").fadeOut("slow")
                    }, 2000);
                {% else %}
                    $("#ym-message-dialog").hide();
                {% endif %}
            {% endwith %}
        });

    </script>
    <style type="text/css">
        a:hover,a:focus {
            background-color: transparent;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="ym-wrapper">
        <div class="ym-wbox">
            {% if not order.can_refine %}
            <p class="highlight"><strong>* {{ _("订单还需要完善, 请填写子订单的交货日期及子订单的产品名称") }}</strong></p>
            {% endif %}
            <div class="ym-fbox-text center" id="ym-message-dialog"
                 role="alert" aria-live="assertive">
                <p></p>
            </div>
            <div class="ym-form linearize-form ym-columnar">
                <div class="ym-fbox-text">
                    <label for="customer_order_number"><b>客户订单编号</b></label>
                    <input type="text" id="customer_order_number" value="{{ order.customer_order_number }}">
                </div>
                <div class="ym-fbox-text">
                    <label><b>公司名称</b></label>{{ order.customer.name }}
                </div>
                <div class="ym-fbox-text">
                    <label><b>对应的收货单号</b></label>{{ order.goods_receipt.receipt_id }}
                </div>
                <div class="ym-fbox-text">
                    <label><b>收货时总重量(KG)</b></label>{{ order.goods_receipt.product_list|sum(attribute="weight") }}
                </div>
                <div class="ym-fbox-text">
                    <label><b>创建时间</b></label>{{ order.create_time }}
                </div>

                {% if not order.dispatched and not order.refined and order.can_refine %}
                    <form method="POST" action="{{ url_for("order.mark_refine") }}" id="refine-form">
                        <button class="ym-button ym-edit" type="button" id="refine-button" name="refine-button">
                            标记已完善
                        </button>
                        <input type="hidden" name="id" value="{{ order.id }}">
                    </form>
                {% endif %}

                {% if not order.dispatched and not order.measured_by_weight and not order.refined %}
                    <a class="ym-button ym-add" type="button" href="{{ url_for('order.new_sub_order',order_id=order.id) }}">新建子订单</a>
                {% endif %}
                <table class="bordertable">
                    <thead>
                    <tr>
                        <th>子订单号</th>
                        <th>产品名称</th>
                        <th>技术要求</th>
                        {% if not order.measured_by_weight %}
                        <th>数量</th>
                        <th>数量单位</th>
                        {% endif %}
                        <th>交货日期</th>
                        <th>净重(KG)</th>
                        <th>卸货点</th>
                        <th>是否加急</th>
                        <th>是否退货</th>
                        <th>已发货重量(KG)</th>
                        <th>待发货重量(KG)</th>
                        <th>图片</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for sub_order in order.sub_order_list %}
                        <tr>
                            <td><a name="sub-order" href="#{{ sub_order.id }}">{{ sub_order.id }}</a>
                            </td>
                            <td>{{ sub_order.product.name }}</td>
                            <td>{{ sub_order.tech_req }}</td>
                            {% if not order.measured_by_weight %}
                            <td>{{ sub_order.quantity }}</td>
                            <td>{{ sub_order.unit }}</td>
                            {% endif %}
                            <td>{% if sub_order.due_time %}
                                {{ sub_order.due_time.date() }}{% else %}
                                ----{% endif %}</td>
                            <td>{{ sub_order.weight }}</td>
                            <td>{{ sub_order.harbor.name }}</td>
                            <td>{% if sub_order.urgent %}是{% else %}
                                否{% endif %}</td>
                            <td>{% if sub_order.returned %}是{% else %}
                                否{% endif %}</td>
                            <td>{{ sub_order.delivered_weight }}</td>
                            <td>{{ sub_order.to_deliver_weight }}</td>
                            <td>{% if sub_order.pic_path %}
                                <a href="{{ sub_order.pic_url }}"
                                   class="fancybox" rel="group"
                                   title="{{ sub_order.product.name }}">
                                    <img src="{{ sub_order.pic_url }}" class="bordered"
                                         alt="{{ sub_order.product.name }}"/>
                                </a>{% endif %}</td>
                        </tr>
                    {% endfor %}
                    <tbody>
                </table>
                <a class="ym-button ym-delete" type="button"
                   href="{{ url or request.args.get("purl") or url_for("order.order_list") }}">返回订单列表页</a>
            </div>
        </div>
    </div>
    <div id="view-sub-order-dialog" title="{{ _("修改子订单") }}">

    </div>
{% endblock %}
