{% extends "layout.html" %}
{% block custom_external %}
  <link rel="stylesheet" href="{{ url_for('static',filename="js/fancybox/source/jquery.fancybox.css") }}" type="text/css" media="screen">
  <script type="text/javascript" src="{{ url_for('static',filename="js/fancybox/source/jquery.fancybox.pack.js") }}"></script>
  <script type="text/javascript">
    $(function () {
      $("#refine-button").click(function () {
        if (confirm("确认已经完善订单？")) {
          $("input[name=method]").val("refine");
          $("#order-form").submit();
        }
      });
      $(".fancybox").fancybox();
    });
  </script>
{% endblock %}

{% block body %}
  <div class="container">
    <legend>订单详情{% if not order.can_refine %}<em><small class="text-warning">* {{ _("订单还需要完善, 请填写子订单的交货日期及子订单的产品名称") }}</small></em>{% endif %}</legend>
    <form class="form-horizontal" id="order-form" method="POST">
      <div class="control-group">
        <label for="customer_order_number" class="control-label"><strong>客户订单编号</strong></label>

        <div class="controls">
          {% if order.refined %}
            <input type="text" id="customer_order_number" value="{{ order.customer_order_number }}" name="customer_order_number"  readonly="readonly">
          {% else %}
            <div class="input-append">
              <input type="text" id="customer_order_number" value="{{ order.customer_order_number }}" name="customer_order_number">
              <button class="btn">
                保存
              </button>
            </div>
          {% endif %}
        </div>
      </div>
      <div class="control-group">
        <label class="control-label"><strong>公司名称</strong></label>

        <div class="controls">
          <p class="padding">{{ order.customer.name }}</p>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label"><strong>对应的收货单号</strong></label>

        <div class="controls">
          <p class="padding">{{ order.goods_receipt.receipt_id }}</p>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label"><strong>收货时总重量(KG)</strong></label>

        <div class="controls">
          <p class="padding">
            {{ order.goods_receipt.product_list|sum(attribute="weight") }}</p>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label"><strong>创建时间</strong></label>

        <div class="controls">
          <p class="padding">{{ order.create_time }}</p>
        </div>
      </div>

      <legend>子订单列表&nbsp;{% if not order.dispatched and not order.measured_by_weight and not order.refined %}
          <a class="btn btn-primary" href="{{ url_for('order.new_sub_order', order_id=order.id, url=request.url) }}">
              <i class="icon-plus icon-white"></i>&nbsp;新建子订单
          </a>
      {% endif %}</legend>
      <table class="table table-striped table-bordered table-condensed">
        <thead>
        <tr>
          <th>子订单号</th>
          <th>产品名称</th>
          <th>技术要求</th>
          {% if not order.measured_by_weight %}
            <th>数量</th>
            <th>数量单位</th>
          {% endif %}
          <th>交货日期</th>
          <th>净重(KG)</th>
          <th>卸货点</th>
          <th>是否加急</th>
          <th>是否退货</th>
          <th>已发货重量(KG)</th>
          <th>待发货重量(KG)</th>
          <th>图片</th>
        </tr>
        </thead>
        <tbody>
        {% for sub_order in order.sub_order_list %}
          <tr>
            <td>
              <a href="{{ url_for("order.sub_order", id_=sub_order.id, url=request.url) }}">
                {% if order.refined %}
                  <i class="icon-eye-open"></i>
                {% else %}
                  <i class="icon-edit"></i>
                {% endif %}
                &nbsp;{{ sub_order.id }}
              </a>
            </td>
            <td>{{ sub_order.product.name }}</td>
            <td>{{ sub_order.tech_req }}</td>
            {% if not order.measured_by_weight %}
              <td>{{ sub_order.quantity }}</td>
              <td>{{ sub_order.unit }}</td>
            {% endif %}
            <td>{% if sub_order.due_time %}
              {{ sub_order.due_time.date() }}{% else %}
              ----{% endif %}</td>
            <td>{{ sub_order.weight }}</td>
            <td>{{ sub_order.harbor.name }}</td>
            <td>{% if sub_order.urgent %}是{% else %}
              否{% endif %}</td>
            <td>{% if sub_order.returned %}是{% else %}
              否{% endif %}</td>
            <td>{{ sub_order.delivered_weight }}</td>
            <td>{{ sub_order.to_deliver_weight }}</td>
            <td>
              {% if sub_order.pic_path %}
                <ul class="thumbnails">
                  <li class="span2">
                    <a href="{{ sub_order.pic_url }}" class="fancybox thumbnail" rel="group" title="{{ sub_order.product.name }}">
                      <img src="{{ sub_order.pic_url }}" class="bordered" alt="{{ sub_order.product.name }}"/>
                    </a>
                  </li>
                </ul>
              {% endif %}
            </td>
          </tr>
        {% endfor %}
        <tbody>
      </table>
      <div class="control-group">
        <input type="hidden" name="url" value="{{ request.args.get("url") or url_for("order.order_list") }}">

        <div class="controls">
          {% if not order.dispatched and not order.refined and order.can_refine %}
            <input type="hidden" name="method" value="save">
            <button class="btn btn-warning btn-large" type="button" id="refine-button" name="refine-button">
              <i class="icon-edit icon-white"></i> 标记已完善
            </button>
          {% endif %}


          <a class="btn btn-large" href="{{ request.args.get("url") or url_for("order.order_list") }}">
            <i class="icon-backward"></i> 返回
          </a>
        </div>
      </div>
    </form>
  </div>
{% endblock %}
