{% extends "layout.html" %}

{% block __data_browser__custom_external_block %}
  {{ super() }}
  <script type="text/javascript">
    function calc_unit_weight() {
      var weight = $("input[name='weight']").val();
      var quantity = $("input[name='quantity']").val();
      if (weight.length && quantity != undefined && quantity.length) {
        return weight / quantity;
      } else {
        return null;
      }
    }

    function update_unit_weight() {
      var unit_weight = calc_unit_weight();
      var message = "({{ _("单位重量: ") }}";
      if (unit_weight != null) {
        message += unit_weight + " 公斤)";
        $("#unit_weight").text(message);
        $("#unit_weight").show();
      } else {
        $("#unit_weight").hide();
      }
    }

    $(function () {
      var products = {{ products|safe }};
      var selected_product_type = {{ sub_order.product.product_type.id }};
      $.each(products[selected_product_type], function (idx, entry) {
        $("#product").append('<option value="' + entry.id + '">' + entry.name + '</option>');
      });
      var product_id = {{ sub_order.product.id }};
      $("#product").val(product_id).trigger("change");
      $("#product_type").change(function (ui) {
        var selected_product_type = $("#product_type").val();
        $("#product").empty();
        $.each(products[selected_product_type], function (idx, entry) {
          $("#product").append("<option value=" + entry.id + ">" + entry.name + "</option>");
        });
        $("#product").val(product_id);
        $("#product").select2({width: "resolve"});
      });

      $("input[name='weight']").focusout(update_unit_weight);
      $("input[name='quantity']").focusout(update_unit_weight);
      update_unit_weight();
      $("input[name='due_time']").attr("min", new Date().toJSON().substr(0, 10));
      $("select[name='harbor']").val('{{ sub_order.harbor.name }}');
      $("form").submit(function () {
        if ($("#product").text().trim() == "{{ DEFAULT_PRODUCT_NAME }}" || $("#product-type").text().trim() == "{{ DEFAULT_PRODUCT_NAME }}") {
          alert("产品及产品类型不能选择为默认加工件");
          return false;
        }
        if ($("#due_time").val() == "") {
          alert("交易时间不能为空");
          return false;
        }
      });
      {% if sub_order.measured_by_weight and sub_order.default_harbor %}
        $("select[name='harbor']").change(function () {
          if ($(this).val() != '{{ sub_order.default_harbor.name }}') {
            alert("该子订单的默认卸货点是'{{ sub_order.default_harbor.name }}'");
          }
        });
      {% endif %}
    })
  </script>{% endblock %}
{% block body %}
  <div class="container">
    <legend>子订单详情</legend>
    <form class="form-horizontal" action="{{ url_for('order.sub_order', id_=sub_order.id) }}" method="POST">

      <div class="control-group">
        <label class="control-label"><strong>子订单号</strong></label>

        <div class="controls"><p class="padding">{{ sub_order.id }}</p></div>
      </div>
      <div class="control-group">
        <label class="control-label"><strong>产品类型</strong></label>

        <div class="controls">
          <select id="product_type" name="product_type" required="required">
            {% for t in product_types %}
              <option value="{{ t.id }}" {% if t.id == sub_order.product.product_type_id %}selected="selected"{% endif %}>
                {{ t.name }}</option>
            {% endfor %}
          </select>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label"><strong>产品名称</strong></label>

        <div class="controls">
          <select name="product" id="product" required="required">
          </select>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label"><strong>技术要求</strong></label>

        <div class="controls">
          <input name="tech_req" size="10" type="text" value="{{ sub_order.tech_req }}"/>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label"><strong>交货日期</strong></label>

        <div class="controls">
          <input name="due_time" id="due_time" type="date" required="required"
                 value="{{ sub_order.due_time.date() if sub_order.due_time else "" }}"/>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label"><strong>净重(KG)</strong></label>

        <div class="controls">
          <input name="weight" type="number" required="required" value="{{ sub_order.weight }}"/>
        </div>
      </div>
      {% if not sub_order.measured_by_weight %}
        <div class="control-group">
          <label class="control-label"><strong>规格</strong></label>

          <div class="controls">
            <input type="text" name="spec" id="spec" value="{{ sub_order.spec }}">
          </div>
        </div>
        <div class="control-group">
          <label class="control-label"><strong>型号</strong></label>

          <div class="controls">
            <input type="text" name="type" id="type" value="{{ sub_order.type }}">
          </div>
        </div>
        <div class="control-group">
          <label class="control-label"><strong>数量</strong></label>

          <div class="controls">
            <input name="quantity" type="number" min="1" required="required" value="{{ sub_order.quantity }}"/>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label"><strong>数量单位</strong></label>

          <div class="controls">
            <input name="unit" type="text" required="required" value="{{ sub_order.unit }}"/>
            <span id="unit_weight" class="help-inline"></span>
          </div>
        </div>
      {% endif %}
      <div class="control-group">
        <label class="control-label"><strong>卸货点</strong></label>

        <div class="controls">
          <select name="harbor" required="required">
            {% for harbor in harbor_list %}
              <option value="{{ harbor.name }}">{{ harbor.name }}</option>
            {% endfor %}
          </select>
        </div>
      </div>
      <div class="control-group">
        <div class="controls">
          <label class="checkbox" for="urgent-input">
            <input name="urgent" id="urgent-input" type="checkbox"
                {% if sub_order.urgent %}
                   checked="checked"
                {% endif %} />
            <strong>加急</strong>
          </label>
        </div>
      </div>
      <div class="control-group">
        <div class="controls">
          <label class="checkbox" for="returned-input">
            <input name="returned" id="returned-input" type="checkbox"
                {% if sub_order.returned %}
                   checked="checked"
                {% endif %} />
            <strong>退货</strong>
          </label>
        </div>
      </div>

      <div class="control-group">
        <div class="controls">
          <input type="hidden" name="url" value="{{ request.args.get("url") or url_for('order.order', id_=sub_order.order.id)}}">
          {% if not sub_order.work_command_list and not sub_order.order.refined %}
            <button class="btn btn-large btn-primary">
              <i class="icon-ok icon-white"></i>&nbsp;保存
            </button>
          {% endif %}
          <a class="btn btn-large" href="{{ request.args.get("url") or url_for('order.order', id_=sub_order.order.id) }}">
            <i class="icon-backward"></i>&nbsp;返回
          </a>
        </div>
      </div>
    </form>
  </div>
{% endblock %}
