应建 
{% if obj.customer_list %}
<a href="#" class="customer-list" data-html="true" data-toggle="popover" >{{ obj.customer_list|length }}</a>
<div data-role="popover">
  {% for customer in obj.customer_list %}
  <ul>
    <li>
      {{ customer.name }}
      {% if customer.created %}
      (已创建)
      {% else %}
      <a href='#'>点击创建</a>
      {% endif %}
    </li>
  </ul> 
  {% endfor %}
</div>
<div data-role="popover-title">
客户列表
<a href="#" class="popover-close">&times;</a>
</div>
{% else %}
0
{% endif %}
- 实建
{% if field_value %}
<a href="#" class="goods-receipt-list" data-html="true" data-toggle="popover" >{{ field_value|length }}</a>
<div data-role="popover">
  {% for goods_receipt in field_value %}
  <ul>
    <li>
    <a href='{{ model_view.url_for_object(goods_receipt) }}'>{{ goods_receipt.receipt_id }}</a>
    </li>
  </ul> 
  {% endfor %}
</div>
<div data-role="popover-title">
收货单列表
<a href="#" class="popover-close">&times;</a>
</div>
{% else %}
0
{% endif %}
