<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet"
          href="{{ url_for("static", filename="css/central.css") }}">
    <link type="text/css"
          href="{{ url_for("static", filename="css/custom-theme/jquery-ui-1.10.1.custom.min.css") }}"
          rel="stylesheet">
    <style type="text/css">
        .ym-wrapper {
            max-width: 50em;
        }

        input[type="text"] {
            border: 0 none white;
            background: transparent;
        }
    </style>
    <script src="{{ url_for("static", filename="js/jquery-1.8.3.min.js") }}"></script>
    <script src="{{ url_for("static", filename="js/jquery-ui-1.10.1.custom.min.js") }}"></script>
    <script src="{{ url_for("static", filename="js/jquery-printarea.js") }}"
            type="text/javascript"></script>
    <script type="text/javascript">
        $(function () {
            var current_product_dom;
            $('#product_name_list').dialog({
                modal:true,
                autoOpen:false,
                closeOnEscape:true,
                stack:true,
                buttons:{
                    "确定":function () {
                        current_product_dom.val($("#product").find("option:selected").text());
                        current_product_dom.attr("name", $("#product").val());
                        $.post("/cargo/ajax/goods-receipt", {"task_id":current_product_dom.attr("id"), "product_id":current_product_dom.attr("name")},function () {
                            $('#product_name_list').dialog("close");
                            window.location.reload(false);
                        }).error(function (data) {
                                    alert(data.responseText);
                                });
                    },
                    "返回":function () {
                        $(this).dialog("close");
                    }
                }
            });
            $("#weight-div").dialog({
                modal:true,
                autoOpen:false,
                closeOnEscape:true,
                stack:true,
                buttons:{
                    "确定":function () {
                        $.post("/cargo/ajax/goods-receipt", {"task_id":$("#task-id-input").val(), "weight":$("#weight-input").val()},function () {
                            $("#weight-div").dialog("close");
                            window.location.reload(false);
                        }).error(function (data) {
                                    alert(data.responseText);
                                });
                    },
                    "返回":function () {
                        $(this).dialog("close");
                    }
                }
            });

            $("input[type=text]").click(function () {
                var products = {{ products|safe }};

                function get_current(products, current_id) {
                    var current_type;
                    $.each(products, function (inx, entry) {
                        $.each(products[inx], function (i, entry) {
                            if (entry.id == current_id) {
                                current_type = inx;
                            }
                        });
                    });
                    return current_type;
                }

                var product_id = $(this).attr("name");

                var current_type = get_current(products, product_id);
                $("#product_type").val(current_type);
                $("#product").empty();
                $.each(products[current_type], function (idx, entry) {
                    $("#product").append('<option value="' + entry.id + '">' + entry.name + '</option>');
                });

                $("#product").val(product_id)
                $("#product_type").change(function (ui) {
                    var selected_product_type = $("#product_type").val();
                    $("#product").empty();
                    $.each(products[selected_product_type], function (idx, entry) {
                        $("#product").append("<option value=" + entry.id + ">" + entry.name + "</option>");
                    });
                    $("#product").val(product_id);
                });
                $('#product_name_list').dialog("open");
                current_product_dom = $(this);
            });
            {% if receipt.printed or receipt.order.dispatched %}
                $("td input").each(function () {
                    $(this).replaceWith("<p>" + $(this).val() + "</p>");
                });
            {% endif %}
            function f() {
                $("input").each(function () {
                    $(this).replaceWith("<p>" + $(this).val() + "</p>");
                });
                $("#printArea").printArea();
            }

            $("#print").click(function () {
                {% if not receipt.printed %}
                    $.post("/cargo/ajax/goods-receipt", {id:{{ receipt.id }}}).success(function (data) {
                        f();
                    }).error(function (data) {
                                alert(data.responseText);
                            });
                {% else %}
                    f();
                {% endif %}
            });
            $("input[type=number]").click(
                    function () {
                        if ($(this).attr("name") == "weight") {
                            return
                        }
                        $("#weight-input").val($(this).val());
                        $("#task-id-input").val($(this).attr("name"));
                        $('#weight-div').dialog("open");
                    }
            );
        });
    </script>
</head>
<body>
<div class="ym-wrapper">
    <div class="ym-wbox">
        <div class="ym-form linearize-form ym-columnar" id="printArea">
            <h5 class="float-right">NO. {{ receipt.id }}</h5>
            <table class="bordertable">
                <tbody>
                <tr>
                    <th colspan="4"><h4 class="center">金禾域加工收货单</h4></th>
                </tr>
                <tr>
                    <th>收货单号</th>
                    <th colspan="3">
                        <p class="center">{{ receipt.receipt_id }}</p>
                    </th>
                </tr>
                <tr>
                    <th>公司名称</th>
                    <th colspan="3">
                        <p class="center">{{ receipt.customer.name }}</p>
                    </th>
                </tr>
                <tr>
                    <th>车辆车牌号</th>
                    <th colspan="3"><p
                            class="center">{{ receipt.unload_session.plate }}</p>
                    </th>
                </tr>
                <tr>
                    <th>日期</th>
                    <th colspan="3">
                        <p class="center">{{ receipt.create_time }}</p>
                    </th>
                </tr>
                <tr>
                    <th>产品类型</th>
                    <th>产品名称</th>
                    <th>净重(KG)</th>
                    <th>交货日期</th>
                </tr>
                {% for product in receipt.product_list %}
                    <tr>
                        <td>
                            {{ product.type_name }}
                        </td>
                        <td>
                            <input type="text" id="{{ product.task_id }}" value="{{ product.name }}" name="{{ product.id }}">
                        </td>
                        <td>
                            <input type="number" name="{{ product.task_id }}" id="" value="{{ product.weight }}" readonly="readonly">
                        </td>
                        <td>{{ product.due }}</td>
                    </tr>
                {% endfor %}
                <tr>
                    <td colspan="2">客户签名:</td>
                    <td colspan="2">
                        总重量(KG):{{ receipt.product_list|sum(attribute='weight') }}
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="ym-fbox-button center">
            <button class="ym-button" id="print">{{ _("打印") }}</button>
            <a class="ym-button"
               href="{{ url_for("order.order",id=receipt.order.id) }}"
                    >{% if receipt.order.dispatched %} {{ _("查看订单") }}
            {% else %} {{ _("完善订单") }}
            {% endif %} </a>
            <a href="{{ request.args.get("purl") or "/" }}"
               class="ym-button">{{ _("返回") }}</a>
        </div>
        <div id="product_name_list" title="请选择产品名称">
            <div class="ym-fbox-select">
                <label for="product_type"><b>产品类型：</b></label>
                <select id="product_type" name="product_type">
                    {% for pt in product_types %}
                        <option value="{{ pt.id }}">{{ pt.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="ym-fbox-select">
                <label for="product"><b>产品名称：</b></label>
                <select name="product" id="product">
                </select>
            </div>
        </div>
        <div id="weight-div" title="请输入产品重量">
            <div class="ym-fbox-text">
                <label for="weight-input"><b>产品重量（KG）：</b></label>
                <input type="number" name="weight" id="weight-input">
                <input type="hidden" name="task_id" id="task-id-input">
            </div>
        </div>
    </div>
</div>
</body>
</html>

