{% extends "layout.html" %}

{% block body %}
  <div class="container">
    <legend>
      卸货会话列表&nbsp;<a href="{{ url_for('cargo.unload_session') }}" class="btn btn-primary">
      <i class="icon-plus icon-white"></i> {{ _("创建会话") }}</a></legend>
    <table class="table table-striped table-bordered table-condensed">
      <thead>
      <tr>
        <th>&nbsp;</th>
        <th>{{ _("编号") }}</th>
        <th>{{ _("车牌号") }}</th>
        <th>{{ _("创建时间") }}</th>
        <th>{{ _("结束时间") }}</th>
        <th>{{ _("状态") }}</th>
      </tr>
      </thead>
      <tbody>
      {% for session in sessions %}
        <tr>
          <td><input type="radio" value="{{ session.id }}"
                     name="session_group"
              {% if loop.first %} checked=true {% endif %}/>
          </td>
          <td>
            <a href="{{ url_for("cargo.unload_session", id_=session.id, url=request.url) }}">{{ session.id }}</a>
          </td>
          <td>{{ session.plate }}</td>
          <td>{{ session.create_time }}</td>
          <td>{{ session.finish_time|default("----", true) }}</td>
          <td>{{ session.status }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
    <div class="btn-toolbar">
      <div class="btn-group">
        <button class="btn btn-info" data-toggle="modal" data-target="#new-receipt-dialog" id="new-receipt">
          <i class="icon-edit icon-white"></i> {{ _("创建收货单") }}</button>
      </div>
      <div class="btn-group">
        <button class="btn btn-info" id="view-receipts" data-toggle="modal"
                data-target="#view-receipts-dialog">
          <i class="icon-eye-open icon-white"></i> {{ _("查看收货单") }}
        </button>
      </div>
    </div>
    {% from "pagination.html" import render_pagination %}
    {{ render_pagination(pagination) }}
  </div>

  {% include "cargo/goods-receipt-add.html" %}

  {% include "cargo/view-receipts-dialog.html" %}

{% endblock %}
