{% extends "layout.html" %}
{% block custom_external %}
  <script type="text/javascript">
    $(function () {
      var products = {{ products|safe }};
      var selected_product_type = {{ task.product.product_type.id }};
      $.each(products[selected_product_type], function (idx, entry) {
        $("#product").append('<option value="' + entry.id + '">' + entry.name + '</option>');
      });
      var product_id = {{ task.product.id }};
      $("#product").val(product_id);
      $("#product_type").change(function (ui) {
        var selected_product_type = $("#product_type").val();
        $("#product").empty();
        $.each(products[selected_product_type], function (idx, entry) {
          $("#product").append("<option value=" + entry.id + ">" + entry.name + "</option>");
        });
        $("#product").val(product_id);
        $("#product").select2({width: "resolve"});
      });
    });
  </script>
{% endblock %}

{% block body %}
  <div class="container">
    <div class="alert alert-info">
      车辆
      <strong>{{ task.unload_session.plate }}</strong>
      在卸货点
      <strong>{{ task.harbor.name }}</strong>
      完成了一次属于客户
      <strong>{{ task.customer.name }}</strong>
      的卸货任务
    </div>
    <form class="form-horizontal" method="POST"
          action="{{ url_for('cargo.unload_task', id_=task.id) }}">

      <div class="control-group">
        <label for="product_type" class="control-label"><strong>产品类型</strong></label>

        <div class="controls"><select id="product_type" name="product_type">
          {% for pt in product_types %}
            <option value="{{ pt.id }}" {% if pt.id == task.product.product_type.id %}selected="selected"{% endif %}>{{ pt.name }}</option>
          {% endfor %}
        </select></div>
      </div>
      <div class="control-group">
        <label for="product" class="control-label"><strong>产品名称</strong></label>

        <div class="controls">
          <select name="product" id="product"></select>
        </div>
      </div>

      <div class="control-group">
        <label class="control-label"><strong>上次称重重量(KG)</strong> </label>

        <div class="controls">
          <p class="padding">{{ task.last_weight }}</p>
        </div>
      </div>

      <div class="control-group">
        <label class="control-label"><strong>上次称重是否车上有人</strong> </label>

        <div class="controls">
          <p class="padding">{{ task.unload_session.with_person_des }}</p>
        </div>
      </div>
      <div class="control-group">
        <label for="weight" class="control-label"><strong>本次称重的重量为(KG)</strong></label>

        <div class="controls">
          <input type="number" name="weight" id="weight" size="20" required="True" min="1" max="{{ task.last_weight - 1 }}" value="{{ task.last_weight - task.weight }}"/>
        </div>
      </div>
      <div class="control-group">
        <label for="pic-url" class="control-label">
          <strong>此次卸货的图片</strong>
        </label>

        <div class="controls">
          <img class="img-rounded" src="{{ task.pic_url }}" alt="图片" id="pic-url">
        </div>
      </div>
      <input type="hidden" name="url" value="{{ request.args.get('url') or url_for('cargo.unload_session',id_=task.unload_session.id) }}">
      <div class="control-group">
        <div class="controls">
          <input type="submit" name="submit" class="btn btn-primary btn-large"
                 value="提交"/>
          <a class="btn btn-large"
             href="{{ request.args.get("url") or url_for('cargo.unload_session',id_=task.unload_session.id) }}">返回</a>
        </div>
      </div>
    </form>
  </div>
{% endblock %}
