-if field_value
  %table class="table table-bordered table-condensed"
    %thead
      %tr 
        %th
        %th << 编号
        %th << 装卸点
        %th << 客户
        %th << 装卸工
        %th << 全部卸货
        %th << 产品
        %th << 图片
        %th << 重量(公斤)
    %tbody
      -for row in field_value
        %tr
          %td 
            -if not row.weight 
              %a.del-ut href="#" data-pk={{ row.id }} -> %i.icon-remove
          %td 
            -if row.weight
              %a href={{ url_for("cargo.unload_task", id_=row.id, url=request.url) }} << {{ row.id }}
            -else
              =row.id
          %td << {{row.harbor}}
          %td << {{row.customer}}
          %td << {{row.creator}}
          %th << {% if row.is_last %}是{% else %}否{% endif %}
          %td << {{row.product}}
          %td 
            -if row.pic_path 
              %ul.thumbnails
                %li.span2
                  %a.fancybox.thumbnail href="{{ row.pic_url }}" rel="group" title="{{ row.product.name }}"
                    %img.bordered src="{{ row.pic_url }}" alt="{{ row.product.name }}"
          %td 
            -if row.weight
              {{ row.weight }} 
            -else
              %a.btn.btn-primary href="{{ url_for('cargo.weigh_unload_task', id_=row.id, url=request.url) }}" << 称重

  %script type="text/javascript"
    $(function () {
      $("a.del-ut").click(function () {
          if (confirm("您确认要删除卸货任务" + $(this).attr("data-pk") + "?")) {
            $.post("/cargo/ajax/unload-task/" + $(this).attr("data-pk"), {"action": "delete"}, 
            function () {
                window.location.reload(false);
            });
          }
      });
    });
-else
  %span.text-error << 无
    
