<!DOCTYPE HTML>
%html style="padding-top: 30px"

  %head
    %meta charset = "UTF-8"
    %meta name="viewport" content="width=device-width, initial-scale=1.0"
    %link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}"
    %link type="text/css" href="{{ url_for("static", filename="css/custom-theme/jquery-ui-1.10.1.custom.min.css") }}" rel="stylesheet"
    %script src="{{ url_for("static", filename="js/jquery-1.8.3.min.js") }}"
    %script src="{{ url_for("static", filename="js/jquery-ui-1.10.1.custom.min.js") }}"
    %script type="text/javascript" src="{{ url_for('static',filename="js/fancybox/lib/jquery.mousewheel-3.0.6.pack.js") }}"
    %link rel="stylesheet" href="{{ url_for('static',filename="css/basemod.css") }}" type="text/css" media="screen"
    <!-- Add fancyBox -->
    %link rel="stylesheet" href="{{ url_for('static',filename="js/fancybox/source/jquery.fancybox.css") }}" type="text/css" media="screen"
    %script type="text/javascript" src="{{ url_for('static',filename="js/fancybox/source/jquery.fancybox.pack.js") }}"
    %link href="{{ url_for('__data_browser__.static', filename='css/bootstrap/css/bootstrap.css') }}" rel="stylesheet" media="screen"
    %link href="{{ url_for('__data_browser__.static', filename='css/bootstrap/css/bootstrap-responsive.css') }}" rel="stylesheet" media="screen"

    %link href="{{ url_for('__data_browser__.static', filename='css/admin.css') }}" rel="stylesheet"
    %link href="{{ url_for('__data_browser__.static', filename='css/datepicker.css') }}" rel="stylesheet"
    %link href="{{ url_for('__data_browser__.static', filename='select2/select2.css') }}" rel="stylesheet"
    %script src="{{ url_for('__data_browser__.static', filename='select2/select2.js') }}"
    %script src="{{ url_for('__data_browser__.static', filename='css/bootstrap/js/bootstrap.min.js')}}"
    -block __data_browser__custom_external_block
    -block __data_browser__customized_head_block

    %title << {{ titlename }}

  %body cz-shortcut-listen="true" style="padding-top: 30px"
    %header.navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner -> %div.container#top-nav-bar
        %nav.nav-collapse collapse
          -if nav_bar
            {{ nav_bar.as_ul("active nav_link", "nav_link")|safe }}
            %form.navbar-search.pull-right action="{{ url_for('search.search') }}" method="GET"
              %input.search-query type="search" placeholder="搜索..." name="content" value="{% if keywords %}{{ keywords }}{% endif %}"
          -else
            .brand << LITE-MMS
          -if current_user.is_authenticated()
            %bold.navbar-text.pull-right
              {{ _("欢迎") }}
              %mark -> %strong << {{ current_user.username }}
              {{ _("您是") }}
              %strong << {{ current_user.group_name }}
              %a class="ym-button" href="{{ url_for('auth.logout') }}" << {{ _("退出") }}

    #wrap
      -block page_body
        %div
          #flash
            -with messages = get_flashed_messages(with_categories=True)
              -if messages
                -for category, m in messages
                  -if category == 'error'
                    .alert.alert-error
                      %a href="#" class="close" data-dismiss="alert" << x
                      {{ m }}
                  -elif category == 'success'
                    .alert.alert-success
                      %a href="#" class="close" data-dismiss="alert" << x
                      {{ m }}
                  -else
                    .alert.alert-success
                      %a href="#" class="close" data-dismiss="alert" << x
                      {{ m }}

          -block body
      #push

    %footer -> %div.container -> %p#credit.muted << copyright@ LITE-MMS

    %script src="{{ url_for('__data_browser__.static', filename='js/bootstrap-datepicker.js') }}"
    %script src="{{ url_for('__data_browser__.static', filename='js/form.js') }}"
    -block tail
