{% extends "__data_browser__/list.html" %}
{% block __data_browser__customized_head_block %}
  {{ super() }}
  <style type="text/css">
    li form {
      margin: 0;
      display: inline;
    }
  </style>
  <script type="text/javascript">
    $(function () {
      $("ul.dropdown-menu li a").click(function () {
        $(this).parents("li").children("form").submit();
      });
      $('#accordion1').collapse({
        toggle: false
      }).on('show',function (e) {
            $(e.target).parent().find(".icon-chevron-down").removeClass("icon-chevron-down").addClass("icon-chevron-up");
          }).on('hide', function (e) {
            $(e.target).parent().find(".icon-chevron-up").removeClass("icon-chevron-up").addClass("icon-chevron-down");
          });
    });
  </script>
{% endblock %}
{% block lists %}
  {% if __data__ %}
    <div class="accordion container" id="accordion1">
      {% for grouper, list in __data__|groupby("create_date")|reverse %}
        {% if grouper == today %}
          {% set grouper = '今天' %}
        {% elif grouper == yesterday %}
          {% set grouper = '昨天' %}
        {% endif %}

        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle" href="#{{ grouper }}" data-toggle="collapse" data-parent="#accordion1">
              <i class="icon-chevron-down"></i>&nbsp;{{ grouper }}<i>({{ list|length }})</i>
            </a>
          </div>
          <div class="accordion-body collapse" id="{{ grouper }}">
            <div class="accordion-inner">
              {% for todo in list %}
              <blockquote>
                <span class="muted">
                  {{ todo.create_time.strftime("%H:%M") }}
                </span>
                {{todo.msg}}
                {% if todo.context_url %}
                  <a href="{{todo.context_url}}">开始&gt;&gt;</a>
                {% endif %}
              </blockquote>
              {% endfor %}
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  {% else %}
    <p class="alert alert-success">恭喜您！ 您的所有工作都完成了</p>
  {% endif %}
{% endblock %}
