{% extends "layout.html" %}
{% block __data_browser__custom_external_block %}
  <script type="text/javascript" src="{{ url_for("static", filename="js/jquery.pnotify.min.js") }}"></script>
  <link rel="stylesheet" href="{{ url_for("static", filename="css/jquery.pnotify.default.css") }}"/>
  <script type="text/javascript">
    $(function () {
      stack_bottomright = {"dir1": "up", "dir2": "left", "firstpos1": 25, "firstpos2": 25};


      function f() {
        $.getJSON('{{ url_for("ajax_new_message") }}', function (data) {
          for (var i = 0; i < data.length; i++) {
            $.pnotify({
              title: '新待办事项',
              text: data[i],
              addclass: "stack-bottomright",
              stack: stack_bottomright
            });
          }
          setTimeout(f, 600000);
        })
      }

      f();
    })
  </script>
  <style type="text/css">
    .stack-bottomright {
      /* These are just CSS default values to reset the pnotify CSS. */
      right: auto;
      top: auto;
    }
  </style>
{% endblock %}
{% block body %}
  <div class="container">
    <legend>待处理事项</legend>
    <table class="table table-bordered">
      <tr>
        <td>创建者</td>
        <td>创建时间</td>
        <td>信息</td>
        <td>类</td>
        <td>主键</td>
      </tr>
      {% for message in current_user.messages %}
        <tr>
          <td>{{ message.author.username }}</td>
          <td>{{ message.create_time }}</td>
          <td>{{ message.message }}</td>
          <td>{{ message.obj_cls }}</td>
          <td>{{ message.obj_pk }}</td>
        </tr>
      {% endfor %}
    </table>

    <legend>我创建的待办事项</legend>
    <table class="table table-bordered">
      <tr>
        <td>对象</td>
        <td>创建时间</td>
        <td>信息</td>
        <td>类</td>
        <td>主键</td>
      </tr>
      {% for message in current_user.create_messages %}
        <tr>
          <td>{{ message.next_actor.username }}</td>
          <td>{{ message.create_time }}</td>
          <td>{{ message.message }}</td>
          <td>{{ message.obj_cls }}</td>
          <td>{{ message.obj_pk }}</td>
        </tr>
      {% endfor %}
    </table>
  </div>

{% endblock %}
