{% extends 'layout.html' %}

{% block __data_browser__customized_head_block %}
{{ super() }}
<script type="text/javascript">
  $(function () {
      $('a[data-toggle="popover"]').popover();
      $('[data-role="approve-task"]').click(
        function () {
        $('[data-role="confirm-modal"]').modal('show');
        $('[data-role="modal-title"]').text('您确认要批准这条请求?')
        $('.modal-body').html($(this).attr('data-annotation'));
        $('a[data-role="confirm"]').click((function (task_id) {
          return function () {
          $.post('/task-flow/task/' + task_id + '?action=approve').done(
            function () {
            alert("成功"); 
            location.reload();
            }
            ); 
          };
          })($(this).attr('data-target')));
        });
      $('[data-role="refuse-task"]'.click(function () {
        $('[data-role="confirm-modal"]').modal('show');
        $('[data-role="modal-title"]').text('您确认要拒绝这条请求?')
        $('.modal-body').html($(this).attr('data-annotation'));
        $('a[data-role="confirm"]').click((function (task_id) {
          return function () {
          $.post('/task-flow/task/' + task_id + '?action=refuse').done(
            function () {
            alert("成功"); 
            location.reload();
            }
            ); 
          };
          })($(this).attr('data-target'))); 
        }));
  });
</script>
{% endblock %}

{% block body %}
  <div class="container">
    <ul class="nav nav-pills">
      <li {% if request.args.get('unapproved_only') %}class="active"{% endif %}>
        <a href="?unhandled_only=1">待处理({{ unhandled_tasks_cnt }})</a>
      </li>
      <li {% if request.args.get('approved_only')%}class="active"{% endif %}>
        <a href="?handled_only=1">已经处理({{ handled_tasks_cnt }})</a>
      </li>
    </ul>
    <table class='table table-striped'>
      <thead>
        <tr>
          <th>概述</th>
          <th>创建时间</th>
          <th>批准时间</th>
          <th>状态</th>
          <th>工作流状态</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
        {% for task in tasks %}
        <tr class={% if not task.approved and task.task_flow.status == constants.TASK_FLOW_PROCESSING %}'text-success'{% else %}'text-muted'{% endif %}>
          <td>{{ task.title }} 
            <a href="#" data-toggle='popover' data-content="{{ task.annotation }}" data-html='true' data-placement='bottom'>&gt;&gt;</a>
          </td>
          <td>{{ task.create_time }}</td>
          <td>{{ task.approved_time or '--' }}</td>
          <td>{{ '批准' if task.approved else '未批准' }}</td>
          <td>{{ task.task_flow_literally_status }}</td>
          <td>
            {% if not task.approved and task.task_flow.status == constants.TASK_FLOW_PROCESSING %}
            <div class="btn-group">
              <button class="btn" data-role='approve-task' data-target="{{ task.id_ }}" data-annotation="{{ task.annotation }}">批准</button>
              <button class="btn dropdown-toggle" data-toggle="dropdown">
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li>
                  <a href="#" data-role='refuse-task' data-target="{{ task.id_ }}" data-annotation="{{ task.annotation }}">拒绝</a>
                </li>
              </ul>
            </div> 
            {% else %}
            --
            {% endif %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div data-role="confirm-modal" class="modal hide fade">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h3 data-role='modal-title'></h3>
    </div>
    <div class="modal-body">
    </div>
    <div class="modal-footer">
      <a href="#" class="btn" data-dismiss='modal'>关闭</a>
      <a href="#" class="btn btn-primary" data-role='confirm' data-dismiss='modal'>确认</a>
    </div>
  </div>
{% endblock %}
