@media (min-width: 1200px) {
    body {
        padding-top: 45px !important;
    }

    .form-signin {
        margin: 10px auto;
        width: 30em;
    }

}

@media (max-width: 979px) {
    body {
        padding: 0 !important;
    }
}

.form-signin .controls {
    margin: 0;
}

.footer {
    text-align: center;
    padding: 30px 0;
    margin-top: 70px;
    border-top: 1px solid #e5e5e5;
    background-color: #f5f5f5;
}

.centered-content {
    text-align: center !important;
}

.padding {
    padding-top: 5px;
}

thead th {
    background: #e0e0e0;
}

.required {
    color: #800;
}

@media print {
    .table-bordered {
        border: 1px solid #000000;
        cellspacing: 0;
        border-collapse: collapse;
    }

    .table-bordered td, .table-bordered th {
        border: 1px solid #000000;
    }

    .page-next:not(:last-child) {
        page-break-after: always;
    }
}

.well {
    padding: 8px 0;
}

header.navbar {
    margin-left: 0;
    margin-right: 0;
}

header li.dropdown>a.dropdown-toggle {
    padding-left: 0px;
}

.icon-off {
    color: red;
}

