{% extends "__data_browser__/layout.html" %}
{% block body %}
    <div class="alert alert-info">
        * 正在为客户"<em>{{form.customer.name}}</em>"创建收货单
    </div>
    <div class="container">
        <form action="url_for('cargo2_page.goods_receipt')" method="POST" class="form-horizontal">
            <div class="control-group">
                <div class="control-label">
                    <strong>收货会话</strong>
                </div>
                <div class="controls">
                    <div>
                        <select readonly="readonly" class="input-medium">
                            <option value="{{ form.unload_session.id}}" selected="selected">{{ form.unload_session.vehicle.plate }}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="control-group">
                <div class="control-label">
                    <strong>客户</strong>
                </div>
                <div class="controls">
                    <div>
                        <select readonly="readonly" class="input-medium">
                            <option value="{{ form.customer.id }}" selected="selected">{{ form.customer.name }}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="control-group">
                <div class="control-label">
                    <strong>对应卸货任务</strong>
                </div>
                <div class="controls">
                    <div>
                        <table class="table table-condensed table-bordered">
                            <thead>
                                <tr>
                                    <th>编号</th>
                                    <th>装卸点</th>
                                    <th>装卸工</th>
                                    <th>重量</th>
                                    <th>产品</th>
                                    <th>规格-型号</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
            <hr />
            <div class="control-group">
                <div class="control-label">                </div>
                <div class="controls">
                    <input type="submit" value="确认创建" class="btn btn-primary" />
                    <input type="submit" value="保存并为下个客户创建收货单" class="btn" />
                    <a class="btn" href="{{purl}}">取消</a>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
{% block __data_browser__customized_head_block %}
    <script type="text/javascript">
        $(function () {
            $("select").select2();
        });
    </script>
{% endblock %}