{% extends "__data_browser__/layout.html" %}
{% block __data_browser__customized_head_block %}
    <script type="text/javascript">
        $(function () {
            var products = {{ products|safe }};
            var selected_product_type = $("#product_type").val();
            $.each(products[selected_product_type], function (idx, entry) {
                $("#product").append('<option value="' + entry.id + '">' + entry.name + '</option>');
            });
            var product_id = {{ task.product.id }};
            $("#product").children().filter("option[value=" + product_id + "]").attr("selected", "selected");
            $("#product_type").change(function (ui) {
                var selected_product_type = $("#product_type").val();
                $("#product").empty();
                $.each(products[selected_product_type], function (idx, entry) {
                    $("#product").append("<option value=" + entry.id + ">" + entry.name + "</option>");
                    $("#product").children().filter("option[value=" + product_id + "]").attr("selected", "selected");
                });
            });
        });
    </script>
{% endblock %}
{% block body %}
    <div class="container">
        <div class="alert alert-info">
            车辆
            <strong>{{ plate }}</strong>
            在卸货点
            <strong>{{ task.harbor.name }}</strong>
            完成了一次属于客户
            <strong>{{ task.customer.name }}</strong>
            的卸货任务
        </div>
        <form class="form-horizontal" method="POST" action="{{ url_for('cargo2.weigh_unload_task', id_=task.id) }}">
            <fieldset>
                <div class="control-group">
                    <div class="control-label">
                        <label><strong>产品类型</strong></label>
                    </div>
                    <div class="controls">
                        <select id="product_type" name="product_type">
                            {% for pt in product_types %}
                                <option value="{{ pt.id }}" {% if pt.id == task.product.type_id %}selected="selected"{% endif %}>{{ pt.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="control-group">
                    <div class="control-label">
                        <label><strong>产品名称</strong></label>
                    </div>
                    <div class="controls">
                        <select id="product" name="product">                        </select>
                    </div>
                </div>
                <div class="control-group">
                    <div class="control-label">
                        <label><strong>上次称重重量(KG)</strong></label>
                    </div>
                    <div class="controls">
                        <div class="input-medium uneditable-input"><strong>{{ task.last_weight }}</strong></div>
                    </div>
                </div>
                <div class="control-group">
                    <div class="control-label">
                        <label><strong>上次称重是否车上有人</strong></label>
                    </div>
                    <div class="controls">
                        <div class="input-medium uneditable-input"><strong>
                            {% if task.unload_session.with_person %}
                                有人
                            {% else %}
                                无人
                            {% endif %}
                        </strong></div>
                    </div>
                </div>
                <div class="control-group">
                    <div class="control-label">
                        <label><strong>是否本会话最后一次任务</strong></label>
                    </div>
                    <div class="controls">
                        <div class="input-medium uneditable-input"><strong>
                            {% if task.is_last %}
                                是
                            {% else %}
                                否
                            {% endif %}
                        </strong></div>
                    </div>
                </div>
                <div class="control-group">
                    <div class="control-label">
                        <label><strong>本次称重的重量为(KG)</strong></label>
                    </div>
                    <div class="controls">
                        <input type="number" name="weight" id="weight" size="20" required="True" min="1" max="{{ task.last_weight - 1 }}" />
                    </div>
                </div>
                {% if task.pic_url %}
                    <div class="control-group">
                        <div class="control-label">
                            <label><strong>此次卸货的图片</strong></label>
                        </div>
                        <div class="controls">
                            <img class="float-left bordered" src="{{ task.pic_url }}" alt="图片" id="pic-url" />
                        </div>
                    </div>
                {% endif %}
                <div class="control-group">
                    <div class="controls">
                        <input type="submit" name="submit" class="btn btn-primary" value="提交" />
                        <input type="button" class="btn btn-info" onclick="window.history.back()" value="返回" />
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
{% endblock %}