{% extends "__data_browser__/list.html" %}
{% block __data_browser__custom_external_block %}
    {{ super() }}
    <script>
        $(function () {
            $('.customer-list').popover();
            $('#customer_list').dialog({
                modal:true,
                autoOpen:false,
                closeOnEscape:true,
                stack:true,
                buttons:{
                    "关闭":function () {
                        $(this).dialog("close");
                    }
                }
            });
            $('#team_manufacturing_reports').dialog({
                modal:true,
                autoOpen:false,
                closeOnEscape:true,
                stack:true,
                buttons:{
                    "关闭":function () {
                        $(this).dialog("close");
                    }
                }
            });
        });
    </script>
{% endblock %}
{% block body %}
    {{ super() }}
    <div id="customer_list" title="客户列表">
        <ul>        </ul>
    </div>
{% endblock %}