-extends "layout.haml"

-block body
    %table
        %thead
            %tr
                %th << id
                %th << 订单号
                %th << 客户
                %th << 收 货
                %th << 待调度
                %th << 生产中
                %th << 待质检
                %th << 待发货
                %th << 产量
                %th << 已发货
                %th << 创建时间
                %th << 收货单
        
